
@{
    ViewData["Title"] = "Linux Downloads";
}

<div class="row mt-4">
    <h1>Downloads for Linux</h1>
</div>
<div class="row mt-4">
    <div class="alert alert-danger" role="alert">
        Sorry, no releases for Linux yet!
    </div>
</div>
